################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Patient-Admin/node_modules
/Patient-Admin/.vs
